D:\DBMS PROJECT\dbms fitness project\Backend\Fitness_chatbot\.env
D:\DBMS PROJECT\dbms fitness project\Backend\injury\myenv
D:\DBMS PROJECT\dbms fitness project\Backend\Nutrition_plan\venv
D:\DBMS PROJECT\dbms fitness project\Backend\opencv\venv